    :root{
      --footer-height: 10vh;
      --brandWidth: 9vw;
      --hf_Row-height: 50%;
      --bg-gradient: rgba(0, 0, 0, 0.5);
      --font-size: 140%;
      // colours
      --black: #000;
      --white: #ffffff;
      --red: rgb(255, 0, 0);
    }