#weather {
  position: relative;
  width: 100%;
  background-color: rgba(#fff, .70);
  #forecastCarousel {
    // color: #fff;
    white-space: nowrap;
    height: 100%;
  }
}



.forecast {


  &_temp,
  &_day {
    margin: 0 10px;
  }
  &_icon{
    margin-right: -5px;
    height: 100%;
    width: 50px;
    img{
      height: inherit;
      width: inherit;
    }
  }
}