#weather {
  position: relative;
  width: 100%;
  background-color: rgba(#fff, .70);
  #forecastCarousel {
    // color: #fff;
    white-space: nowrap;
    height: 100%;
  }
}



.forecast {
  &_icon {
    height: 95%;
  }

  &_temp,
  &_feelLike,
  &_humidity,
  &_precip,
  &_day,
  &_date,
  &_temps {
    margin: 0 10px;
  }
}